body {

     background-image:url("alex.gif");
      background-position: bottom;
      background-size: cover;
}

h1 {
  font-size: 50px;
  top: center;

  font-family: monospace;

}

 body { cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAA9vb2AAICAgD///8AEhISAAgICAD+/v4A6+vrAPT09AAODg4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAkDMzMzMAAAAAAAAAAAAAAJAAAAAAAAAAAAAAAAAAAAAFMDAwAwAAAAAAAAAAAAAABTMDUzMAAAAAAAAAAAAAAAUzMDAzAAAAAAAAAAAAAAAFdjOTMwAAAAAAAAAAAAAABQEzE4RQAAAAAAAAAAAAAAAAAzMAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAA1MAAAAAAAAAAAAAAAAAADMzAAAAAAAAAAAAAAAABQMzUzAAAAAAAAAAAAAAAAUzMmAzAAAAAAAAAAAAAAAFMzMzMwAAAAAAAAAAAAAABTMzMzMAAAAAAAAAAAAAAJAAAAAAAgAAAAAAAAAAAACQMzMzMwAAAAAAAAAAAAAAkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//////////////////////////////////////////////////wAP//8AD///AA///4Af//+AH///gB///4Af//+AH///4H////D///
} 
