h1 {
  font-size: 50px;
  font-family: monospace;
    letter-spacing: 5px;
    text-indent: 50px;
    color: rgb(72, 91, 140);
    border-radius: 2;
}

body {

     background-color: rgb(148, 175, 221);
      background-position: bottom;
      background-size: cover;
}


.column-41 {
    margin-bottom: 0;
    padding-right: 0;
}
.column-41 {
    position: static;
    left: 50px;
    right: 0;
    display: block;
    height: auto;
    padding-right: 20px;
    padding-left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


p.big {
  line-height: 1.8;
}

.links {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    font-family: spacemono, monospace;
    font-weight: light;
    font-style: italic;
    font-size: 24px;
    color: black;
  }

.navlist {
  font-size: 45px;
  font-family: monospace;
  margin-left: -10%;
  margin-bottom:inherit;
  position: absolute;
  margin-right: 0%;
    color: rgb(72, 91, 140);

}
