* {
  box-sizing: border-box;
}


body {
    margin: 0;
    font-family: monospace;
    font-size: 15px;
    color: rgb(255, 248, 247);
}


html,
body {
  /* height: 100%; */
}

.title {
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  margin-left: 50px;
  color: rgb(236, 188, 179);
}

.backg {
  width:400%;
  height:600%;
  color:black;
  font-weight:bold;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {background-color: rgb(0, 0, 0);}
  50%{background-color:rgb(161, 13, 13);}
  75%{background-color:rgb(179, 34, 34);}
  100% {background-color: rgb(0, 0, 0);}
}



}

.slide-container {
  overflow: auto;
  white-space: nowrap;
  top:30px;
  bottom: 10px;

}

.quiz-time {
  color: white;
  transform: translateX(0.5%);
}
