* {
  box-sizing: border-box;
}


body {
    margin: 0;
    background-color: white;
}


.main-container {
  background-color: white;;
  height: 100vh;
  width: 100%;
  border-radius: 40px 40px 10% 10%;
  /* view port height  */
  display: flex;
  flex-direction: column;
}

.top-container {
  background: rgb(205, 201, 244);
  height: 450%;
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-content: flex-start;
}

.top-item {
  background: rgb(157, 157, 157);
height: 50%;
max-width: 950px;
width: 100%;
/* border-radius: 40% 40% 10px 10px; */
border-radius: 40px 40px 10% 10%;
display: flex;
padding: 0rem;
flex-direction: row-reverse;
justify-content: center;
align-content: flex-start;
flex-wrap: wrap;
overflow: hidden;
}

.bottom-item {
  background-color: rgb(210, 237, 193);
  width: 100px;
  height: 100px;
  border-radius: 30px 20px 10% 10%;
  padding: 1rem;
  position: fixed;
   bottom: 200px;
}

.left-item {
  background-color: rgb(153, 209, 230);
  width: 100px;
  height: 100px;
  border-radius: 30px 20px 10% 10%;
  padding: 1rem;
  position: fixed;
   bottom: 200px;
   left: 400px;
}

.right-item {
  background-color: rgb(80, 23, 198);
  width: 100px;
  height: 100px;
  border-radius: 30px 20px 10% 10%;
  padding: 1rem;
  position: fixed;
   bottom: 200px;
   right: 400px;
}
